/* Import de la typo google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 
selecteur{
    property : value;
} 
*/

/* sélecteur de balise */
body {
	color: #333;
	font-family: "Poppins", serif;
	margin: 0;
}

/* sélecteur d'id # */
#title1 {
	text-transform: uppercase; /* texte en majuscule */
}

header,
footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: lightgrey;
}

.space-between {
	display: flex;
	justify-content: space-between; /* axe principal */
	align-items: center; /* axe secondaire */
}

.link-list {
	list-style: none; /* aucune puce */
	padding-left: 0; /* aucune marge interne */
	display: flex; /* met ses enfants en ligne */
	gap: 30px; /* écart entre les enfants */
}

/* sélecteur de classe . */
.avatar {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 100%; /* marche parce que le bloc est carré */
}

.container {
	max-width: 960px;
	margin: auto; /* centrer horizontalement */
}

.banner {
	height: 120px;
	background-image: url("images/pattern.jpg");
	background-size: cover; /* image recouvre le bloc sans être déformée */
}
